li a:link,  a:visited,  a:active{
    text-decoration: none;
    color: black;
}

li{
    color: black;
    padding: 15px;
    background-color: lightgray;
    font-size: larger;
    display: inline;
}

nav ul li:hover{
    background-image: url("Sprite_g.jpg");
}

#a ul li{
    color: black;
    padding: 15px;
    background-color: lightgray;
    font-size: larger;
    display: block;
    max-width: 140px;
}