*{
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Configuração do Menu Principal */
.menu-grid{
    background-color: white;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 200px;
    grid-template-areas: 
    "logo direita-grid"
    "logo direita-grid"
    "logo direita-grid";
}

.direita-grid{
    margin: 5px;
    text-align: center;
    font-size: small;

    display: grid;
    grid-area: direita-grid;
    grid-template-areas: 
        "sub-item"
        "sub-item"
        "sub-item";
    text-align: right ;

    padding-right: 15px;
}

.sub-menu nav ul li{
    color: black;
    padding: 10px;
    font-size: large;
    display: inline;
    text-decoration: none;
}

.logo{
    width: 200px;
    height: 200px;
    padding-left: 15px;
}

.link-opcoes{
    font-size: medium;
}

.menu-baixo{
    border: solid 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 120px;
    text-align: justify;
    text-decoration: none;
    
    border: solid 3px black;
}

.amenor{
    font-size: smaller;
    font-weight: bold;
}

.amedio{
    font-weight: bolder;
}

.amaior{
    font-size: larger;
    color: white;
    background-color: black;
}

/* Corpo */
.corpo-grid{
    display: grid;
    grid-template-columns: 15% 60% 25%;
    grid-template-areas: 
    "corpo-esquerda corpo-meio corpo-direita";
    
}

.corpo-esquerda{
    padding-left: 15px;
}
.corpo-meio{
    padding-left: 15px;
    padding-right: 15px;
}
.corpo-direita{
    padding-right: 15px;
}

/* Coluna Esquerda */

.sergio-moro{
    width:200px;
    height: auto;
    
}

.corpo-esquerda nav ul li a{
    color: black;
    font-size: medium;
    text-decoration: none;
    text-align: justify;
    
}

.corpo-links ul{
    margin:0%;
    padding: 0%;
}


.corpo-links ul li{
    list-style-type: none;

    border: solid 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;

    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 4px;
    background-color: white;
}

.populares ul{
    border: solid 2px #000;
    list-style-type: none;
    background-color: lightgray;
    margin:0%;
    padding: 0%;
}

.populares ul li{
    margin-left: 3px;
    color: black;
    text-align: justify;
}

/* Coluna do Meio */
.oquehadenovo{
    display: grid;
    grid-template-areas: 
    "oquehadenovotitulo maisnoticias"
    "ministerio oquehadenovotexto"
    "oquehadenovodata oquehadenovolink"
    "oquehadenovodata oquehadenovolink"
    "oquehadenovodata oquehadenovolink";
    border: solid 2px black;
}

.newsticker{
    display: grid;
    grid-template-areas: 
    "newstickertitulo material-icons"
    "newstickerlink material-icons";
    border: solid 2px black;
}

.material-icons1{
    text-align: right;
}
.material-icons2{
    text-align: right;
}

.calendario{
    display: grid;
    grid-template-areas: 
    "calendariotitulo material-icons"
    "calendariodata a"
    "calendariodata a"
    "calendariodata a";
    border: solid 2px black;
}

.calendariolink{
    text-align: right;
}

.maisnoticias{
    text-align: right;
    padding-bottom: 10px;
    
}

.oquehadenovo{
    background-color: lightgray;
}

.oquehadenovodata{

}

.newsticker{
    margin-top: 20px;
    background-color: lightgray;
}

.calendario{
    margin-top: 20px;
    background-color: lightgray;
}

.ministerio{
    width: 150px;
    height: 100px;
}

/* Coluna da Direita */
.spotlight{
    border: solid 2px black;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.anuncio{
    width: 300px;
    height: 200px;
}

.anunciocorpo{
    padding-left: 20px;
    border: solid 2px black;
    margin-top: 20px;
}

/* Rodapé */
.footer{
    display: grid;
    grid-template-columns: 45% 25% 3 0%;
    grid-template-areas:
    "rodapemenu voltaraotopo info";
    margin-top: 20px;
}

.rodapemenu ul li{
    display: inline;
    font-size: medium;
}

.voltaraotopo{
    display: grid;
    grid-template-areas:
    "material-icons"
    "voltar";
}

.footerinfo{
    text-align: right;
}
