ul{
    font-size: large;
}

li::before{
    content: '\2620';
}

ul li a:link{
    text-decoration: none;
    color: darkgreen;
}

ul li a:visited{
    color: maroon;
}

ul li a:hover{
    background-color: yellow;
}

ul li a:active{
    color: blue;
}