h1.titulo{
    font-style: oblique;
    font-family: 'Festive', cursive;
}

main.main-fundo{
    background-image: url('https://images4.alphacoders.com/227/thumbbig-22714.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}


article{
    background-color: darkgrey;
}

article{
    background-color: darkgrey;
}

article p{
    text-align: center;
    color: lawngreen;
}
